nav img {
    width: 1em;
}
nav {
    font-family: "Lucida Bright";
    font-size: 13pt;
    background-color: #FFC713;
    height: 50px;
    padding: 15px 5px 5px 5px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 10px 10px 10px 10px;
    float: right;
}

nav a:hover {
    background-color: khaki;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 15px;
}