nav img {
    width: 1em;
}
nav {
    font-family: "Lucida Bright";
    font-size: 13pt;
    background-color: #FFC713;
    height: 50px;
    padding: 5px 5px 5px 5px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 0px 10px 0px 10px;
    float: left;
}

nav a:hover {
    background-color: khaki;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 15px;
}

h1 {
    color: #FFC713;
    font-size: 2em;
    font-style: oblique;
    margin-top: 10px;
    margin-bottom: 10px;
}


section {
    margin-top: 20px;
    padding: 15px 15px 15px 15px;
    height: 600px;
    font-size: 13pt;
    font-family: 'Lucida Bright';
}

h3 {
    color: #FFC713;
}

article p {
    color: rgb(16, 16, 41);
}

.StandaardArticle {
    width: 70%;
    float: left;
}

.StandaardAside {
    background-color: khaki;
    min-height: 550px;
    width: 20%;
    padding: 15px 15px 15px 15px;
    float: right;
}

aside img {
    height: 200px;
    width: 200px;
    padding-top: 10px;
}

ul {
    padding: 0px;
}

article H1 {
    color: black;
    font-size: xx-large;
    text-align: center;
}

.OverOns {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.Homepagina img {
    width: 150px;
    border-color: black;
}

.Homepagina {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    margin-top: 5px;
    padding-bottom: 10px;
}